<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" data-framework="angularjs"  > <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/ico" href="entaria_favicon.ico"/>
		

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="css/justified-nav.css" rel="stylesheet">
		<!-- <link href="css/jumbotron-narrow.css" rel="stylesheet"> -->
		
		<script src="js/vendor/angular.min.js"></script>
		<script src="js/vendor/angular-route.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="js/angular-animate.min.js"></script>			
		<script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<!-- Brendan's Stuff  -->
        <link href="css/FeedEk.css" rel="stylesheet" type="text/css" />

		<!-- Canvas files -->
		<script src="Sales.js"></script>
		<script src="js/createLocalStore.js"></script>
		
        <!--        
		<base href="/Users/ADRIAN/Desktop/Masters/aria/ARIA_Project/index.html">
        -->

        <!-- GOOGLE MAPS (interactive) --->
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        <style type="text/css">
            html { height: 50% }
            body { height: 50%; margin: 0; padding: 0 }
            #map-canvas { height: 100% }
        </style>
		<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXMEss-vsF1qa8m75hh2pF1dMuu77Q1tk&sensor=false"></script>
		<script>
			function initialize() {
                var myCenter = Array(10);
                myCenter[0] = new google.maps.LatLng(53.349, -6.243); //NCI 
                myCenter[1] = new google.maps.LatLng(53.352, -6.245); //CHQ 
                myCenter[2] = new google.maps.LatLng(53.345, -6.248); //O'Connell Street
                myCenter[3] = new google.maps.LatLng(53.346, -6.243); // and so on
                myCenter[4] = new google.maps.LatLng(53.355, -6.241); 
                myCenter[5] = new google.maps.LatLng(53.340, -6.240); 
                myCenter[6] = new google.maps.LatLng(53.340, -6.250); 
                myCenter[7] = new google.maps.LatLng(53.341, -6.245); 
                myCenter[8] = new google.maps.LatLng(53.341, -6.243); 
                myCenter[9] = new google.maps.LatLng(53.352, -6.240); 
                var mapOptions = {
					center : myCenter[0],
					zoom : 14,
					mapTypeId : google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

                var contentString = Array(10);
                           
                contentString = ["Student Cafe, NCI, Mayor Square",
                                 "Insomnia",
                                 "Java Republic",
                                 "O'Briens",
                                 "Starbucks",
                                 "Insomniac",
                                 "Seventh Wonder",
                                 "Cafe8",
                                 "Cafe9",
                                 "Cafe10"];

                var infowindow = new google.maps.InfoWindow();
                for (var i = 0; i < contentString.length; i++) {
                    var content = contentString[i];
                    if (i == 0 ) { 
                        var marker = new google.maps.Marker({
                            map: map,
                            position: myCenter[i],
                            animation:google.maps.Animation.BOUNCE
                    });
                    } else {
                        var marker = new google.maps.Marker({
                            map: map,
                            position: myCenter[i]
                    });
                    }
                    google.maps.event.addListener(marker, 'mouseover', (function(marker, content) {
                        return function() {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        }
                    })(marker, content));
                    if (i == 0) {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }                        
                }
                                 
                                 
            }            

			google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <!-- HXK CODE -->

		<!-- Adrian's canvas example -->
		<script type="text/javascript" src="js/vendor/canvasjs.min.js"></script>
		<script type="text/javascript" src="js/canvas_display_options_adrian.js"></script>

    </head>
    <body onload="initialize()">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
		
		
      <div class="container">
      <div class="masthead">
		<div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" role="form">
			<img src="img/EntariaLogo.JPG" width="95px" height="107px" />
		  </form>
          <div id="weather">

            <h3>The current Temperature  is </h3>
            <input id="resultID" type="number" /> 
            <div class="value" id ="tempValue"></div>
            <div class="unit">°</div>
            <input id="imgresultID" type="image" src="http://icons-ak.wxug.com/i/c/k/cloudy.gif"/>
            <!--        <img id="btmpnl" src ="img\v8liv.PNG" />     -->
          </div>
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
			<button type="button" class="btn btn-primary">Register</button>
          </form>
        </div><!--/.navbar-collapse -->
        <ul class="nav nav-justified">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
	  
	  <br />

      <!-- HXK CODE -->
      <!-- AddThis Smart Layers BEGIN -->
        <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
        <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51fd568f61d53d15"></script>
        <script type="text/javascript">
        addthis.layers({
            'theme' : 'transparent',
            'share' : {
                'position' : 'right',
                'numPreferredServices' : 5
            }   
        });
        </script>
      <!-- AddThis Smart Layers END -->
      <div class="row section">

        <div class="col-lg-3">
            <h2 class="section-title">Coffee Buzz</h2>
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23coffee" data-widget-id="457884442518749185">Tweets about "#coffee"</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col-lg-6">
            <h3 class="section-title">Good Coffee around Town</h3>
            <div id="map-canvas" style="width:800px; height:500px"/></div>
        </div>
        <div class="col-lg-3">
            <div id="divRss"></div>
            <div class="content"></div>
        </div>
              
     </div>
      
      <!-- HXK CODE -->
      



	  <!-- Jumbotron -->
      <div class="jumbotron" >
		<div class="container-slider" ng-app="website" ng-controller="SliderController">
			<img class="img-responsive" ng-repeat="slide in slides" class="slide slide-animation"
				ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
				
			<div class="arrows-left">
				<a href="#" ng-click="prev()" ><img src="img/left-arrow.png"/></a> 
			</div>
			<div class="arrows-right">
				<a href="#" ng-click="next()"><img src="img/right-arrow.png"/></a>
			</div>
			
			<div class="slider-info">
                    <p ng-class="{'active':!isCurrentSlideIndex($index)}" class="slide slide-animation" ng-repeat="slide in slides"
                      ng-click="setCurrentSlideIndex($index);" ng-hide="!isCurrentSlideIndex($index)">{{slide.title}}</p>
					  
                    <p ng-class="{'active':!isCurrentSlideIndex($index)}" class="slide slide-animation" ng-repeat="slide in slides"
                      ng-click="setCurrentSlideIndex($index);" ng-hide="!isCurrentSlideIndex($index)">{{slide.description}}</p>
			</div>
			
			
		</div>
      </div>  
	  
      <br />

      <div class="row marketing">
      	  <div class="col-md-2">
		  <h3>Blog</h3>
          <h4>Blog 1</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Blog 2</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Blog 3</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>

          <div  class="col-md-8"   >
			  <h3  >Main Content</h3>
			  
			  <div  ng-view><p ng-app="spaApp" ng-controller="spaController" id="main"> {{ greeting }} </p></div>
			  
			  <br />
			  <button type="button" class="btn btn-default" id="doughnut" >Doughnut</button>
			  <button type="button" class="btn btn-default" id="pie" >Pie</button>
			  <button type="button" class="btn btn-default" id="column" >Column</button>
			  <button type="button" class="btn btn-default" id="line" >Line</button>
			  <button type="button" class="btn btn-default" id="area" >Area</button>
			  <button type="button" class="btn btn-default" id="bar" >Bar</button>
			  
			  <div id="chartContainer" style="height: 300px; width: 100%;">
					
			   </div>
			  
			  
		   </div>
		   <div class="col-md-2">
			  <img src="img/advert.jpg" width="160px" height="600px" />
          </div>

	      <br />
		
	  </div>
		
	  <div id="output"></div>
      
      <div class="footer">		
			<p>&copy; Entaria 2014</p>
      </div>

	 </div>
        <script src="js/angular-controllers.js"></script>
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		



        <!-- HK1 CODE -->
        <script type="text/javascript" src="js/hk1.js"></script>
        <script type="text/javascript" src="js/vendor/jquery.qrcode.js"></script>
        <script type="text/javascript" src="js/vendor/qrcode.js"></script>
        <script>
        jQuery(function(){
            jQuery('#output').qrcode({
            render	: "table",
            text	: "http://www.ncirl.ie"
            });
        })
        //jQuery('#output').generateQRcode("hello world hello world");
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-42936379-2');ga('send','pageview');
        </script>
        <!-- HK1 CODE -->
		
    </body>
</html>
